body{
   background-color: #7df4ff;
}
.cloud-body {
      position: absolute;
      width: 200px;
      height: 100px;
        top: 50px;
      animation: moveCloud 30s linear infinite;
    }
#infomation{
  position: fixed;
  width: 50px ;
  height: 50px;
  top: 5px;
  right: 5px;
}
    .cloud-body1 {
      position: absolute;
       width: 200px;
      height: 100px;
      top: 55px;
      left: 100px;
      animation-delay: 0s;
      animation-duration: 40s;
       animation: moveCloud1 30s linear infinite;
    }

    .cloud-body2 {
      position: absolute;
      width: 100px;
      height: 60px;
      top: 100px;
      animation-delay: 10s;
      animation-duration: 50s;
       animation: moveCloud2 20s linear infinite;
    }
    .cloud-body3 {
      position: absolute;
      width: 200px;
      height:120px;
      top: 150px;
      animation-delay: 10s;
      animation-duration: 50s;
       animation: moveCloud1 15s linear infinite;
    }

.castle{
    position: absolute;
    width: 300px;
    height: 470px;
    left: 20px;
    bottom: 20px;
}
.container{
    position: absolute;
    width: 400px;
    height: 500px;
    border-radius: 1rem;
    border: 5px solid #000;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.5);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.footer{
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 0;
    left: 0;
    background-color: #98fa36;  
}

.game-display{
   
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #7df4ff;
    border-radius: 1rem 1rem 1rem 1rem;
}
.tittle{
    position: absolute;
    font-size: 2rem;
    width: 80%;
    color: #000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.game-footer{
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
    background-color: #98fa36;
    
}
.buttonConteiner {
    display: flex;
    gap: 10px;
    /* justify-content: center;*/
    align-items: center; 
    flex-direction: row; /* デフォルトは横並び */
    flex-wrap: wrap;
    margin: 20px;
}

.button {
  font-size: 11px;
  cursor: pointer;
  width: 80px;
  height: 30px;
  border-radius: 1rem;
  border: 1px solid #000;
  background-color: #eeeeee;
}

.button:hover{
 background-color: #c0c0c0;
}
.window{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.door{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
}
.cover{
    visibility: hidden;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 2px;
    z-index: 10000px;
}
.cloud {
      position: absolute;
      width: 100px;
      height: 60px;
      top: 50px;
      animation: moveCloud 30s linear infinite;
    }

    .cloud1 {
      position: absolute;
      width: 100px;
      height: 60px;
      top: 40px;
      left: 100px;
      animation-delay: 0s;
      animation-duration: 40s;
       animation: moveCloud1 30s linear infinite;
    }

    .cloud2 {
      position: absolute;
      width: 100px;
      height: 60px;
      top: 100px;
      animation-delay: 10s;
      animation-duration: 50s;
       animation: moveCloud2 30s linear infinite;
    }


 @keyframes moveCloud {
      from {
        left: 0;
      }
      to {
        left: 75%;
      }
    
    }
    @keyframes moveCloud1 {
      from {
        left: 75%;
      }
      to {
        left: 0;
      }
    
    }
    @keyframes moveCloud2 {
      from {
        left: 10%;
      }
      to {
        left: 75%;
      }
    
    }
.europeCastle{
    background: conic-gradient(at 5% 45%,#c0c0c0 90deg,transparent 90deg) 0px 0px/20px 20px
,conic-gradient(at 5% 45%,#c0c0c0 90deg,transparent 90deg) 10px 10px/20px 20px
,#eeeeee;
}
.japaneseCastle{
    position: absolute;
    background-color: antiquewhite;
    align-items: center;
}
.yane{
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 30px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #4b4e6d;
}

.egyptCastle{
    background: conic-gradient(at 5% 45%,#deb887 90deg,transparent 90deg) 0px 0px/20px 20px
,conic-gradient(at 5% 45%,#d2b48c 90deg,transparent 90deg) 10px 10px/20px 20px
,#d2b48c;
}
.cake {
  background:
    linear-gradient(
      to bottom,
      #f5deb3 0%,   /* スポンジ層 */
      #f5deb3 25%,
      #fff8dc 25%,  /* クリーム層 */
      #fff8dc 35%,
      #deb887 35%,  /* スポンジ層2 */
      #deb887 60%,
      #fff8dc 60%,  /* クリーム層2 */
      #fff8dc 70%,
      #d2b48c 70%,  /* スポンジ層3 */
      #d2b48c 100%
    );
}

#lifebar{
  display: flex;
  
}

#lifebar img{
  width: 20px;
  height: 20px;
  margin: 5px;
}




@media (max-width: 600px) {
    .buttonConteiner {
        flex-direction: column;
    }
}
#home-img{
    display: flex;
    width:30px; 
    height:30px;
    margin: 0 auto;
}

.home-btn{
    position: fixed;
    width: 36px;
    height: 36px;
    background-color: lightgray;
    border-radius: 100px;
    align-items: center;
    top: 2%;
    left: 2%;
}